@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
    .svg-dark-fill {
        color: #FF862F; /* Replace with your desired color */
      }
    .svg-light-fill {
        color: #1C1E3B; /* Replace with your desired color */
      }
    .svg-baseBG-fill {
        color: #0C1328; /* Replace with your desired color */
      }
}



 


.custom-medium-to-large {
  @media (min-width: 768px) and (max-width: 1024px) {
    background-color: lightblue;
    font-size: 18px;
  }
}